@tailwind base;
@tailwind components;
@tailwind utilities;

/* text-size */
@layer components{

    .font-title{
        @apply text-3xl md:text-4xl lg:text-5xl font-extrabold;
    }
    .font-main{
        @apply text-2xl md:text-3xl lg:text-4xl font-bold
    }
    .font-head1{
        @apply text-xl md:text-2xl lg:text-3xl font-bold
    }
    .font-head2{
        @apply text-lg md:text-xl lg:text-2xl font-bold
    }
    .font-second1{
        @apply text-sm md:text-lg lg:text-xl font-bold
    }
    .font-second2{
        @apply text-sm md:text-lg lg:text-xl
    }
}

/* text-color */
@layer components{
    .text-yellow{
        @apply text-yellow-500
    }
}

/* border-color */
@layer components{
    .border-red{
        @apply border-red-950
    }
}


/* background */
@layer components{
    .bg-red-gradient{
        @apply bg-gradient-to-r from-red-900 to-red-600
    }
}

/* button */
@layer components{
    
    .btn-confirm-sm{
        @apply w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2 bg-green-700 rounded-md shadow-lg hover:scale-105 duration-300 text-center
    }
    .btn-confirm-md{
        @apply w-full sm:w-1/2 md:w-2/3 lg:w-3/4 p-2 bg-green-700 rounded-md shadow-lg hover:scale-105 duration-300 text-center
    }
}

@layer components{
   
    .btn-info-sm{
        @apply w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2 bg-blue-600 rounded-md shadow-lg hover:scale-105 duration-300 text-center
    }
    .btn-info-md{
        @apply w-full sm:w-1/2 md:w-2/3 lg:w-3/4 p-2 bg-blue-600 rounded-md shadow-lg hover:scale-105 duration-300 text-center
    }
}


@layer components{
 
    .btn-close-sm{
        @apply w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2 bg-red-700 rounded-md shadow-lg hover:scale-105 duration-300 text-center
    }
    .btn-close-md{
        @apply w-full sm:w-1/2 md:w-2/3 lg:w-3/4 p-2 bg-red-700 rounded-md shadow-lg hover:scale-105 duration-300 text-center
    }
}

/* input */

@layer components{
 
    .input-sm{
        @apply  w-full sm:w-1/4 p-2 rounded-md shadow-lg focus:outline-none focus:bg-slate-200 duration-100;
    }
    .input-md{
        @apply w-full sm:w-2/4 md:w-1/2 py-2 px-3 rounded-md shadow-lg focus:outline-none focus:bg-slate-200 duration-100;
    }
    .input-lg{
        @apply w-full sm:w-3/4 lg:w-2/3 py-2 px-3 rounded-md shadow-lg focus:outline-none focus:bg-slate-200 duration-100;
    }
}

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem
    ;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%
    ;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%}
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

@property --n {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
  @keyframes slide {
    from { --n: 0; }
    to { --n: 1; }
  }
  section {
    width: 80vw;
    height: fit;
    display: flex;
    margin: auto;
    /* border-radius: 1px;
    box-sizing: border-box; */
    padding: 20px;
    /* box-shadow: 0 0 4px rgb(206,209,212); */
    /* background: linear-gradient(45deg, rgb(182, 29, 29), rgb(222,235,252)); */
    animation-timeline: view(block 98% 2%);
    animation-name: slide;
    animation-fill-mode: both;
  }
  span{
    position: fixed;
    height: 1lh;
    line-height: 120px;
    text-indent: 12px;
    width: 3px;
    background: rgb(222,235,252);
    box-shadow: 0 0 4px rgb(206,209,212);
    border-radius: 4px;
    right: 80px;
    --t: 100px;
    --h: calc(1lh + 10px);

    section:nth-of-type(1) &{
      top: var(--t);
    }
    section:nth-of-type(2) &{
      top: calc(var(--t) + var(--h));
    }
    section:nth-of-type(3) &{
      top: calc(var(--t) + 2 * var(--h));
    }
    section:nth-of-type(4) &{
      top: calc(var(--t) + 3 * var(--h));
    }
    section:nth-of-type(5) &{
      top: calc(var(--t) + 4 * var(--h));
    }
    section:nth-of-type(6) &{
      display: none;
    }
    &::before{
      display: block;
      position: absolute;
      content: '';
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
      width: 4px;
      height: inherit;
      background: rgb(55,126,245);
      transform: scaleY(var(--n)); /* where the animation takes place */
      transform-origin: top;
    }
  }
  
  .fade-in-image {
    opacity: 0; /* Start hidden */
    transition: opacity 0.8s ease; /* Transition for fade effect */
  }
  
  .fade-in-image.inview {
    opacity: 1; /* Fade in when the section is visible */
  }
  

  .container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
  }
  
  .wgh-slider {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translateY(-80%);
  }
  .wgh-slider__viewport {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .wgh-slider__viewbox {
    display: block;
    position: relative;
    perspective: 100vw;
    margin: 0 auto;
    width: 33.3333333333%;
    max-width: 500px;
    transform-style: preserve-3d;
    z-index: 0;
  }
  .wgh-slider__viewbox::before {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    content: "";
    height: 0;
    padding-bottom: 100%;
    width: 100%;
  }
  .wgh-slider__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
    transform-style: preserve-3d;
  }
  .wgh-slider-target {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  input.wgh-slider-target {
    display: none;
  }
  
  .wgh-slider-target:first-of-type:last-of-type ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__trigger {
    display: none;
  }
  .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider__container {
    transform: translateX(0%);
  }
  .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider__container {
    transform: translateX(-50%);
  }
  .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider__container {
    transform: translateX(-100%);
  }
  .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider__container {
    transform: translateX(-150%);
  }
  .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider__container {
    transform: translateX(-200%);
  }
  .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider__container {
    transform: translateX(-250%);
  }
  .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider__container {
    transform: translateX(-300%);
  }
  .wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider__container {
    transform: translateX(-350%);
  }
  .wgh-slider-item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateY(45deg);
    transition: transform 0.6s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.15s;
  }
  .wgh-slider-item:nth-child(1) {
    left: 0%;
  }
  .wgh-slider-item:nth-child(2) {
    left: 50%;
  }
  .wgh-slider-item:nth-child(3) {
    left: 100%;
  }
  .wgh-slider-item:nth-child(4) {
    left: 150%;
  }
  .wgh-slider-item:nth-child(5) {
    left: 200%;
  }
  .wgh-slider-item:nth-child(6) {
    left: 250%;
  }
  .wgh-slider-item:nth-child(7) {
    left: 300%;
  }
  .wgh-slider-item:nth-child(8) {
    left: 350%;
  }
  .wgh-slider-item__trigger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
  }
  .wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__trigger {
    display: none;
  }
  .wgh-slider-item__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: scale(0.75);
    transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0s;
    z-index: 10;
  }
  .wgh-slider-item__inner::before, .wgh-slider-item__inner::after {
    display: block;
    position: absolute;
    content: "";
  }
  .wgh-slider-item__inner::before {
    top: 24px;
    left: 24px;
    bottom: 24px;
    right: 24px;
    z-index: 0;
    transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.15s;
    transform: translate(-24px, 12px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .wgh-slider-item__inner::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 50%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: background-position 0.3s linear;
  }
  .wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__inner {
    transform: scale(1);
    transition-delay: 0.6s;
  }
  .wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__inner::before {
    transform: translate(0, 24px);
  }
  .wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__inner::after {
    background-position: -50% 0%;
  }
  .wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) ~ .wgh-slider-item .wgh-slider-item__inner::before {
    transform: translate(24px, 12px);
  }
  .wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) ~ .wgh-slider-item .wgh-slider-item__inner::after {
    background-position: -100% 0%;
  }
  .wgh-slider-item-figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .wgh-slider-item-figure__image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1;
  }
  .wgh-slider-item-figure__caption {
    position: absolute;
    display: block;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 24px;
    background-image: linear-gradient(0deg, #000 0%, transparent 100%);
    z-index: 2;
  }
  .wgh-slider-item-figure__caption a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
  }
  .wgh-slider-item-figure__caption span {
    display: block;
    font-size: 14px;
    line-height: 16px;
  }
  .wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8), .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7), .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6), .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5), .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4), .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3), .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2), .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) {
    transform: translate3d(0, 0, 0) rotateY(0deg);
    z-index: 9999;
  }
  .wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) ~ .wgh-slider-item {
    transform: translate3d(0, 0, 0) rotateY(-45deg) !important;
  }





